In [1]:
import pandas as pd

In [2]:
time = pd.read_excel("Train_Time.xlsx")

In [3]:
time.head()

   people_ID   20     21      22       23         24          25           26
0          1  441  544.2  669.64  821.368  1002.2416  1215.68992  1472.627904
1          2  151  197.2  253.24  321.688   399.9256   492.91072   606.892864
2          3  416  515.2  632.44  776.728   947.7736  1150.32832  1395.793984
3          4  410  506.0  621.40  761.880   928.1560  1126.78720  1368.344640
4          5  390  483.0  595.00  730.200   892.8400  1084.40800  1315.889600

In [4]:
time.describe()

,people_ID,20,21,22,23,24,25,26
count,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000
mean,10084.893784,278.877357,349.147508,434.360993,537.435133,660.177788,805.213345,981.255343
std,7108.663645,97.945646,117.553040,141.053939,169.284924,203.155177,243.786212,292.538346
min,1.000000,110.000000,145.000000,188.200000,240.440000,304.228000,378.073600,468.461120
25%,2679.250000,194.000000,247.800000,312.760000,391.384000,484.918600,594.902320,729.203328
50%,10003.500000,276.000000,346.200000,430.840000,533.064000,654.822400,798.786880,973.388672
75%,15141.750000,364.000000,451.000000,557.260000,685.136000,837.211600,1017.653920,1236.308736
max,22695.000000,450.000000,556.000000,683.800000,838.360000,1020.904000,1238.084800,1501.798080

In [5]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 8 columns):
people_ID    10714 non-null int64
20           10714 non-null int64
21           10714 non-null float64
22           10714 non-null float64
23           10714 non-null float64
24           10714 non-null float64
25           10714 non-null float64
26           10714 non-null float64
dtypes: float64(6), int64(2)
memory usage: 669.7 KB

In [6]:
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

Using TensorFlow backend.

In [7]:
time = time.drop('people_ID',axis=1)
time.head()

    20     21      22       23         24          25           26
0  441  544.2  669.64  821.368  1002.2416  1215.68992  1472.627904
1  151  197.2  253.24  321.688   399.9256   492.91072   606.892864
2  416  515.2  632.44  776.728   947.7736  1150.32832  1395.793984
3  410  506.0  621.40  761.880   928.1560  1126.78720  1368.344640
4  390  483.0  595.00  730.200   892.8400  1084.40800  1315.889600

In [8]:
time.columns

Index([20, 21, 22, 23, 24, 25, 26], dtype='object')

In [16]:
y = time[26]
x = time[[20, 21, 22, 23, 24, 25]]

In [17]:
print(x.shape,y.shape)

(10714, 6) (10714,)

In [20]:
ratio = y/x[20]
ratio.mean()

3.603572323390347

In [21]:
ratio = x[25]/x[20]
ratio.mean()

2.950991942058652

In [22]:
ratio = x[24]/x[20]
ratio.mean()

2.4141133470723783

In [23]:
ratio = x[23]/x[20]
ratio.mean()

1.9589126321453347

In [24]:
ratio = x[22]/x[20]
ratio.mean()

1.576300234214326

In [25]:
ratio = x[21]/x[20]
ratio.mean()

1.26025452545262

In [39]:
3.603572323390347-2.950991942058652

0.652580381331695

In [40]:
2.950991942058652-2.4141133470723783

0.5368785949862738

In [41]:
2.4141133470723783-1.9589126321453347

0.4552007149270436

In [42]:
1.9589126321453347-1.576300234214326

0.38261239793100876

In [43]:
1.576300234214326-1.26025452545262

0.3160457087617059

In [32]:
[.32,.39,.45,.54,.65]

[0.32, 0.39, 0.45, 0.54, 0.65]

In [38]:
p=(0.07+0.06+0.08+0.11)/4
p

0.08

In [58]:
ratio_final = 0.65+0.09+3.603572323390347

In [59]:
ratio_final

4.343572323390347

In [60]:
x_27 = x[20]*ratio_final

In [61]:
x_27

0        1915.515395
1         655.879421
2        1806.926087
3        1780.864653
4        1693.993206
5        1689.649634
6        1398.630288
7         842.653031
8        1346.507420
9        1051.144502
10       1620.152477
11        833.965886
12       1750.459646
13        521.228679
14       1659.244628
15       1038.113785
16        864.370892
17        790.530163
18        786.186591
19        955.585911
20       1068.518792
21        955.585911
22       1802.582514
23        881.745182
24        642.848704
25       1654.901055
26       1090.236653
27        803.560880
28       1585.403898
29       1759.146791
            ...
10684    1785.208225
10685     538.602968
10686    1311.758842
10687    1850.361810
10688    1715.711068
10689    1685.306061
10690     647.192276
10691    1815.613231
10692    1016.395924
10693     690.627999
10694    1872.079671
10695    1077.205936
10696     629.817987
10697     946.898766
10698    1615.808904
10699    1507.219596
10700    1646.213911
10701    1111.954515
10702    1811.269659
10703    1689.649634
10704    1472.471018
10705    1046.800930
10706     794.873735
10707    1290.040980
10708    1724.398212
10709     582.038691
10710    1680.962489
10711     768.812301
10712    1528.937458
10713     786.186591
Name: 20, Length: 10714, dtype: float64

In [63]:
test = pd.read_csv("Test_Clean.csv")

In [65]:
test["Diuresis"]=test["Diuresis"]*ratio_final

In [67]:
test.to_csv("Test_27_clean.csv")

In [68]:
test["Diuresis"]

0        1685.306061
1        1776.521080
2        1911.171822
3         894.775899
4         994.678062
5        1476.814590
6         764.468729
7        1246.605257
8        1620.152477
9        1919.858967
10       1659.244628
11       1641.870338
12       1220.543823
13        786.186591
14        747.094440
15        638.505132
16       1485.501735
17       1863.392527
18       1316.102414
19       1350.850993
20       1385.599571
21        925.180905
22        668.910138
23       1628.839621
24       1459.440301
25       1263.979546
26       1489.845307
27        555.977257
28       1741.772502
29        951.242339
            ...
14468    1485.501735
14469    1837.331093
14470    1515.906741
14471    1372.568854
14472    1350.850993
14473    1754.803219
14474    1072.862364
14475    1259.635974
14476     894.775899
14477     616.787270
14478    1090.236653
14479    1481.158162
14480     855.683748
14481     933.868050
14482    1937.233256
14483    1459.440301
14484    1698.336778
14485    1346.507420
14486     686.284427
14487    1798.238942
14488     790.530163
14489    1494.188879
14490    1433.378867
14491    1802.582514
14492    1346.507420
14493    1811.269659
14494     864.370892
14495     699.315144
14496     755.781584
14497     547.290113
Name: Diuresis, Length: 14498, dtype: float64

In [ ]:
# shift train predictions for plotting
trainPredictPlot = numpy.empty_like(dataset)
trainPredictPlot[:, :] = numpy.nan
trainPredictPlot[look_back:len(trainPredict)+look_back, :] = trainPredict
# shift test predictions for plotting
testPredictPlot = numpy.empty_like(dataset)
testPredictPlot[:, :] = numpy.nan
testPredictPlot[len(trainPredict)+(look_back*2)+1:len(dataset)-1, :] = testPredict
# plot baseline and predictions
plt.plot(scaler.inverse_transform(dataset))
plt.plot(trainPredictPlot)
plt.plot(testPredictPlot)
plt.show()

In [ ]:
import numpy
import matplotlib.pyplot as plt
from pandas import read_csv
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
	dataX, dataY = [], []
	for i in range(len(dataset)-look_back-1):
		a = dataset[i:(i+look_back), 0]
		dataX.append(a)
		dataY.append(dataset[i + look_back, 0])
	return numpy.array(dataX), numpy.array(dataY)
# fix random seed for reproducibility
numpy.random.seed(7)
# load the dataset
dataframe = read_csv('airline-passengers.csv', usecols=[1], engine='python')
dataset = dataframe.values
dataset = dataset.astype('float32')
# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset)
# split into train and test sets
train_size = int(len(dataset) * 0.67)
test_size = len(dataset) - train_size
train, test = dataset[0:train_size,:], dataset[train_size:len(dataset),:]
# reshape into X=t and Y=t+1
look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)
# reshape input to be [samples, time steps, features]
trainX = numpy.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))
testX = numpy.reshape(testX, (testX.shape[0], 1, testX.shape[1]))
# create and fit the LSTM network
model = Sequential()
model.add(LSTM(4, input_shape=(1, look_back)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(trainX, trainY, epochs=100, batch_size=1, verbose=2)
# make predictions
trainPredict = model.predict(trainX)
testPredict = model.predict(testX)
# invert predictions
trainPredict = scaler.inverse_transform(trainPredict)
trainY = scaler.inverse_transform([trainY])
testPredict = scaler.inverse_transform(testPredict)
testY = scaler.inverse_transform([testY])
# calculate root mean squared error
trainScore = math.sqrt(mean_squared_error(trainY[0], trainPredict[:,0]))
print('Train Score: %.2f RMSE' % (trainScore))
testScore = math.sqrt(mean_squared_error(testY[0], testPredict[:,0]))
print('Test Score: %.2f RMSE' % (testScore))
# shift train predictions for plotting
trainPredictPlot = numpy.empty_like(dataset)
trainPredictPlot[:, :] = numpy.nan
trainPredictPlot[look_back:len(trainPredict)+look_back, :] = trainPredict
# shift test predictions for plotting
testPredictPlot = numpy.empty_like(dataset)
testPredictPlot[:, :] = numpy.nan
testPredictPlot[len(trainPredict)+(look_back*2)+1:len(dataset)-1, :] = testPredict
# plot baseline and predictions
plt.plot(scaler.inverse_transform(dataset))
plt.plot(trainPredictPlot)
plt.plot(testPredictPlot)
plt.show()